.experience-container {
  height: 20em;
  border-radius: 1%;
  padding: 2em;
}

.experience-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.experience-title-icon {
  display: inline-block;
  margin-right: 1rem;
}

.experience-heading {
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.experience-linkedin-link {
  display: flex;
  text-decoration: none;
}

.experience-linkedin-link-text {
  margin-right: 1rem;
}