.experience-container {
  height: 20em;
  border-radius: 1%;
  padding: 2em;
}

.experience-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.experience-title-icon {
  display: inline-block;
}

.experience-status-icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
}